@{
    ViewData["Title"] = "Начальная страница";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать!</h1>

    <p>Вы на главной странице</p>

    <div class="container">
        Перейти к <a asp-area="" asp-controller="Items" asp-action="Index">СПИСКУ ДЕЛ</a> .
    </div>
</div>
